@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-border{
  @apply border border-primary border-dashed
}

.swiper-button-prev i,
.swiper-button-next i {
  font-size: 16px; /* Adjust this value to control the icon size */
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 18px !important;
  color: white !important;
}

.swiper-button-prev {
  width: 50px !important; 
  left: -24px !important;
  height: 50px !important; 
  border-radius: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next{
  width: 50px !important; 
  left: -24px !important;
  top: 59% !important;
  height: 50px !important; 
  border-radius: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) { 
  .swiper-button-prev {
    width: 50px !important; 
    height: 50px !important;
    left: 5px !important; 
  }

  .swiper-button-next {
    width: 50px !important; 
    height: 50px !important;
    left: 5px !important; 
    top: 63% !important; 
  }
}

.swiper-button-next-test,
.swiper-button-prev-test {
  width: 40px;
  height: 40px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next-test {
  right: 10px;
}

.swiper-button-prev-test {
  left: 10px;
}

.testimonials-swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
