@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-border{
  @apply border border-primary border-dotted
}

.swiper-button-prev i,
.swiper-button-next i {
  font-size: 16px; /* Adjust this value to control the icon size */
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px; /* Optional: Adjust button size */
  height: 50px; /* Optional: Adjust button size */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional: Add hover effects */
.swiper-button-prev:hover i,
.swiper-button-next:hover i {
  color: #ffcc00; /* Change icon color on hover */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #007bff; /* Change button background on hover */
}
